.main-subnav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   &__list {
      display: flex;
      column-gap: 0.85rem;
   }
   &__item {
      font-weight: bold;
      font-size: 1.6rem;
      line-height: 1.9rem;
      color: #2c2c2c;
      padding: 1rem 2rem 1.2rem 2rem;
      border-radius: 30px;
      background-color: #f9f9f9;
      cursor: pointer;
      letter-spacing: 0.015em;
      &.active {
         color: #fff;
         background-color: #282828;
      }
   }
}
