@import "../../../fonts/variables";

.pizza-item {
   &__content {
      justify-self: center;
   }
   &__img {
      max-width: 26rem;
      cursor: pointer;
      transition: transform 0.4s ease;
      &:hover {
         transform: translateY(-7px);
      }
      & img {
         max-width: 100%;
         display: block;
      }
   }
   &__title {
      text-align: center;
      font-weight: bold;
      font-size: 2rem;
      letter-spacing: 0.01em;
      line-height: 2.4rem;
      padding: 1.1rem 0px 1.4rem 0px;
   }
   &__options {
      border-radius: 1rem;
      background-color: rgba(243, 243, 243, 1);
      font-weight: bold;
      font-size: 1.4rem;
      letter-spacing: 0.015em;
      text-align: center;
      padding: 0.7rem 0.5rem;
   }
   &__option {
      display: flex;
      column-gap: 0.5rem;
      &:first-child {
         padding-bottom: 7px;
      }
   }
   &__select {
      border-radius: 0.5rem;
      padding: 0.6rem 0;
      flex: 1 1 auto;
      cursor: pointer;
      &.active {
         background-color: #fff;
         box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
         &:hover {
            background-color: #fff;
         }
      }

      &.disabled {
         opacity: 0.35;
         pointer-events: none;
      }

      &:hover {
         background-color: rgba(255, 255, 255, 0.3);
         box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
      }
   }

   &__price {
      padding-top: 1.7rem;
      font-size: 2.2rem;
      font-weight: bold;
      letter-spacing: 0.015em;
      line-height: 2.6rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   &__value {
      span {
         vertical-align: middle;
      }
   }

   &__btn {
      display: flex;
      column-gap: 7px;
      align-items: center;
      background-color: $orange1;
      color: #fff;
      padding: 1rem 1.8rem 1.2rem 1.8rem;
      border: 1px solid #fe5f1e;
      border-radius: 30px;
      font-weight: bold;
      font-size: 1.4rem;
      line-height: 1.9rem;
      letter-spacing: 0.015em;
      &.active {
         background-color: #fff;
         color: $orange1;

         .count-circle {
            position: relative;
            display: block;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            background-color: $orange1;
            color: #fff;
            font-size: 1.3rem;
            font-weight: 500;
            span {
               vertical-align: middle;
            }
         }
      }

      .plus-icon {
         vertical-align: middle;
      }
   }
}

@media (max-width: 630px) {
   .pizza-item {
      &__content {
         justify-self: center;
      }

      &__img {
         margin: 0 auto;
      }
   }
}
