.main-content {
   padding: 2.9rem 0px 0px 0px;
   &__title {
      font-size: 3.2rem;
      line-height: 3.8rem;
      font-weight: bold;
      letter-spacing: 0.01em;
   }
}

.pizzas {
   padding: 3rem 0px 3rem 0px;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, auto));
   gap: 6.5rem 2.5rem;
   justify-content: space-between;
}

@media (max-width: 640px) {
   .pizzas {
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      justify-content: center;
   }

   .main-content {
      &__title {
         text-align: center;
      }
   }
}

.obs {
   font-size: 30px;
   position: absolute;
   bottom: 0;
   left: 0;
}
