@import "../../fonts/variables";

.header {
   padding: 4.5rem 3.5rem 3.5rem 5rem;
   position: relative;
}

.header::after {
   content: "";
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 1px;
   background-color: #f6f6f6;
}

.header__row {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.logo-group {
   display: flex;
   align-items: center;
   &__body {
      padding-left: 1.5rem;
   }
   &__title {
      font-weight: bold;
      font-size: 2.4rem;
      letter-spacing: 0.01em;
      color: #181818;
   }
   &__subtitle {
      font-weight: 400;
      font-size: 1.6rem;
      color: #7b7b7b;
   }
}

//

.nav {
}
.nav-cart {
   padding: 1.2rem 2.5rem;
   border-radius: 30px;
   background-color: $orange1;
   font-size: 1.6rem;
   font-weight: bold;
   color: #fff;
   display: flex;
   align-items: center;
   &__money {
      display: flex;
      position: relative;
      padding-right: 2.4rem;
      &::after {
         content: "";
         background-color: #fff;
         position: absolute;
         height: 100%;
         width: 1px;
         right: 1.3rem;
         top: 0;
      }
   }
}

.nav-money-icon {
}
.nav-cart__icon {
   span {
      vertical-align: middle;
      padding-left: 5px;
   }

   .cart-i {
      vertical-align: middle;
   }
}

@media (max-width: 560px) {
   .header {
      padding: 3.2rem 2.5rem 3.2rem 4rem;
      position: relative;
   }
   .logo-group {
      &__title {
         font-size: 1.8rem;
      }
      &__subtitle {
         display: none;
      }
   }
}

@media (max-width: 430px) {
   .header__row {
      display: flex;
      flex-direction: column;
      gap: 3rem;
   }
}
